<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Tutorial</title>
  <link href="assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="nav-bar"></div>

<div id="app">
  <div class="product">
    <div class="product-image">
      <!-- :src is the shorthand for `v-bind:src` -->
      <img :src="image" alt="">
    </div>

    <div class="product-info">
      <h1>{{ product }}</h1>

      <!-- Style Binding -->
      <!-- `disabledButton` class and `disabled` attribute is added when it's true -->
      <button :class="{ disabledButton: !inStock }"
              :disabled="!inStock"
              @click="addToCart">Add to Cart</button>
      <button @click="removeFromCart" v-show="cart > 0">Remove from Cart</button>

      <div class="cart">
        <p>Cart ({{ cart }})</p>
      </div>

      <p v-if="inStock">In Stock</p>
      <p v-else>Out of Stock</p>

      <hr>

      <h3>Details</h3>
      <ul>
        <!-- Note: detail is an alias. details is a collection. -->
        <li v-for="detail in details">{{ detail }}</li>
      </ul>

      <h3>Variants</h3>
      <!-- Note: @ is the shorthand to 'v-on' because it's so common. -->
      <div v-for="(variant, index) in variants"
           :key="variant.variantId"
           :style="{ backgroundColor: variant.variantColour }"
           @mouseover="updateProduct(index)"
           class="color-box">
      </div>

      <h3>Sizes</h3>
      <ul>
        <li v-for="size in sizes">{{ size }}</li>
      </ul>

    </div>
  </div>
</div>

<script src="node_modules/vue/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>