<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Tutorial</title>
  <link href="assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="nav-bar"></div>

<div id="app">
  <div class="product">
    <div class="product-image">
      <img alt="" v-bind:src="image">
    </div>

    <div class="product-info">
      <h1>{{ product }}</h1>
      <p v-if="inStock">In Stock</p>
      <p v-else>Out of Stock</p>

      <hr>

      <p v-if="inventory > 10">In Stock</p>
      <p v-else-if="inventory <= 10 && inventory > 0">Almost</p>
      <p v-else>Out of Stock</p>

      <hr>

      <p v-show="inStock">Testing v-show</p>

      <h3>Details</h3>
      <ul>
        <li v-for="detail in details">{{ detail }}</li>
      </ul>

      <h3>Variants</h3>
      <div v-for="variant in variants" :key="variant.variantId">
        <p>{{ variant.variantColour }}</p>
      </div>

      <h3>Sizes</h3>
      <ul>
        <li v-for="size in sizes">{{ size }}</li>
      </ul>

    </div>
  </div>
</div>

<script src="node_modules/vue/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>